*{
  margin : 0; 
  padding : 0;
  /*outline : 1px solid red;*/
}

html {
  box-sizing : border-box;
  font-family : sans-serif;
  font-size : 12px;
  overflow : hidden;
}

body {
  width : 100%;
  height : 100%; 
}

*, *:before, *:after {
  box-sizing : inherit;
}

.cover {
  position : absolute;
  width : 100%;
  height : 100%;
  display : none;
}

#overlay {
  background : rgba(0,0,0,0.5); 
}

#disable {
  background : red;
  opacity : 0.1; 
}

#file-list {
  position : absolute; 
  left : 0;
  top : 0;
  width : 200px;
  height : 100%;
  border-right : 1px solid #aaa;
  padding : 10px 10px 0 10px;
}

#file-list .refresh {
  position : relative;
  float : left;
  width : 10%;
  font-size : 20px;
  font-weight : bold;
  top : -4px;
  left : -2px;
}

#file-list .folders {
  position : relative;
  float : left;
  width : 90%;
}

#file-list .documents{
  float : left;
  width : 100%;
  margin-top : 10px; 
  overflow-y : scroll;
  /* dynamic height */
}

#file-list .directory {
  color : red; 
}

#code-editor {
  position : absolute;
  width : 694px;
  height : 100%; 
  border-right : 1px solid #aaa;
}

#preview {
  position : absolute; 
  height : 100%;
}

.drag {
  position : absolute;
  width : 5px;
  height : 100%;
  background : #ccc;
  border-right : 1px solid black;
  cursor : ew-resize;
}

li {
  list-style : none;
  padding : 3px;
  cursor : pointer; 
}
li ul{
  margin-left : 10px; 
}
